@model IEnumerable<News>


@if (Model.Count() > 0)
{
    <div class="col-12 @Model.FirstOrDefault().Category.Name.Replace(" ",string.Empty) list-items">
        <div class="row">
            <h3 class="text-success"> @Model.FirstOrDefault().Category.Name </h3>
        </div>

        @foreach(var item in Model)
        {
            <div class="border border-info rounded col-12" style="margin-bottom:10px; margin-top:10px; padding:10px">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        @if (@item.Image == "noimage.png")
                        {
                            <img src="~/media/news/@item.Image" style="width:99%;border-radius:5px;border:1px solid #bbb9b9" alt="" />

                        }
                        else
                        {
                            <img src="~/media/news/@item.Category.Name/@item.Image"  alt="" style="width:99%;border-radius:5px;border:1px solid #bbb9b9" />

                        }
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div class="row pr-3">
                            <div class="col-8">
                                <label class="text-primary" style="font-size:21px;color:maroon">@item.Title</label>
                            </div>
                        </div>


                        <div class="row col-12 text-justify d-none d-md-block">
                            <p>@Html.Raw(item.Description)</p> 
                        </div>

                        <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                            <a asp-action="Details" class="btn btn-success form-control" asp-route-id="@item.Id">Details</a>
                        </div>
                    </div>
                    </div>
                </div> 
        }
        <div class="p-4"></div>
    </div>
}